/* Import Local SCSS Files */
@import 'variables', 'reset', 'fonts', 'header', 'footer';

/* common */
body {
  overflow-x: hidden;
  background-color: $Lotteria-Beige;
}

/* inner */
[class*=inner]{
  width: 90%;
  height: inherit;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* 임시 */
.left-wrap {
  position: fixed;
  left: 120px;
  width: 400px;
  height: 70vh;
  top: 0;
}
.center-wrap {
  background-color: $Lotteria-Yellow;
  overflow: hidden;
  width: 600px;
  margin: auto;
  top: 0;

  /* section .item-visual */
  .item-visual{
    padding-top: 300px;
    padding-bottom: 200px;
    .item-visual-inner{
      position: relative;
      .item-title-box{
        margin-bottom: 50px;
        text-align: center;
        .item-title-en{
          margin-bottom: 20px;
          font-family: $Title-Font;
          font-size: $h2-px;
          line-height: 150%;
        }
        .item-title-ko{
          font-family: $Title-Font;
          font-size: $h3-px;
        }
      }
      .item-img{
        margin: auto;
        width: 450px;
        img{
          width: 100%;
        }
      }
      .item-btn-box{
        margin-top: 200px;
        position: absolute;
        top: -200px; right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 30px;
        button{
          background-color: transparent;
          cursor: pointer;
          i{
          }
          &.item-like-btn{
            position: relative;
            top: -2px;
            &:hover i{
              color: $Lotteria-Red;
            }
            i{
              font-size: 50px;
              color: $White;
              transition: .5s;
            }
          }
          &.item-shopping-btn{
            background-color: $White;
            width: 55px; height: 55px;
            border-radius: 50%;
            transition: .5s;
            &:hover{
              background-color: $Lotteria-Red;
              i{
                color: $White;
              }
            }
            i{
              font-size: 25px;
              color: $Lotteria-Red;
              transition: .5s;
            }
          }
        }
      }
      .item-desc{
        margin-top: 50px;
        p{
          text-align: center;
          line-height: 150%;
        }
      }
    }
  }

  /* section .item-more */
  .item-more{
    background-color: $Lotteria-Brown;
    .item-more-background-box{
      position: relative;
      .item-more-background{
        width: 340px; height: 275px;
        position: absolute;
        z-index: 1;
        top: -100px;
        border-radius: 50%;
        background-color: $Lotteria-Brown;
        &:nth-child(1){
          left: -50px;
        }
        &:nth-child(2){
          left: 50%; transform: translateX(-50%);
        }
        &:nth-child(3){
          right: -50px;
        }
      }
    }
    .item-more-inner{
      padding: 100px 0;
      position: relative;
      z-index: 1000;
      .item-more-info{
        ul{
          width: 80%;
          margin: auto;
          display: flex;
          flex-direction: column;
          gap: 30px;
          li{
            border-bottom: 3px solid $White;
            &.item-info-price{
              display: flex;
              justify-content: space-between;
              b{}
              strong{
                font-family: $Title-Font;
                font-size: $h3-px;
                color: $White;
              }
            }
            &.item-info-nutrition{
              &.drink{
                border-bottom: 3px solid $White;
              }
              b{
                padding-bottom: 30px;
                border-bottom: 1px solid $White;
              }
              table{
                thead{
                  tr{
                    th{
                      padding-bottom: 30px;
                      border-bottom: 1px solid $White;
                      color: $White;
                      text-align: center;
                    }
                  }
                }
                tbody{
                  tr{
                    td{
                      padding: 30px 0;
                      color: $White;
                      text-align: center;
                    }
                  }
                }
              }
            }
            &.item-info-allergy{
              b{
                padding-bottom: 30px;
                border-bottom: 1px solid $White;
              }
              span{
                display: block;
                padding-bottom: 30px;
                line-height: 150%;
                color: $White;
              }
            }
            b{
              margin-bottom: 30px;
              display: block;
              font-family: $Title-Font;
              font-size: $h3-px;
              color: $White;
            }
          }
        }
      }
      .item-more-item{
        margin-top: 100px;
        padding-bottom: 100px;
        .item-title-box{
          margin-bottom: 150px;
          h2{
            margin-top: 100px;
            font-family: $Title-Font;
            font-size: $h2-px;
            color: $White;
            text-align: center;
            line-height: 150%;
          }
          p{
            margin-top: 20px;
            text-align: center;
            color: $White;
          }
        }
        .item-more-item-swiper{
          overflow: visible;
          .swiper-wrapper{
            .swiper-slide{
              /* 활성화 */
              &.swiper-slide-active{
                &:hover{
                  a{
                    .swiper-item-img{
                      transform: translateX(-50%) scale(3);
                    }
                  }
                }
                a{
                  opacity: 1;
                  .swiper-item-img{
                    transform: translateX(-50%) scale(2.5);
                  }
                  .swiper-item-tag{
                    opacity: 1;
                  }
                }
              }
              /* 이전 */
              &.swiper-slide-prev{
                a{
                  opacity: 1;
                  .swiper-item-img{
                    bottom: -60px;
                    transform: translateX(-80%) rotate(-15deg);
                  }
                }
              }
              /* 다음 */
              &.swiper-slide-next{
                a{
                  opacity: 1;
                  .swiper-item-img{
                    bottom: -60px;
                    transform: translateX(-20%) rotate(15deg);
                  }
                }
              }
              /* 공통 */
              a{
                opacity: 0;
                .swiper-item-img{
                  position: relative;
                  left: 50%;
                  width: 150px;
                  transition: 1s;
                  img{
                    width: inherit;
                  }
                }
                .swiper-item-tag{
                  width: 200px;
                  padding: 15px 10px;
                  position: relative;
                  bottom: -100px; left: 50%;
                  transform: translateX(-50%);
                  border-radius: 15px;
                  background-color: $White;
                  opacity: 0;
                  animation: itemTag 1s infinite linear;
                  transition: 1s;
                  &::after{
                    content: '';
                    width: 0;
                    height: 0;
                    position: absolute;
                    top: -10px; left: 50%; transform: translateX(-50%);
                    border-style: solid;
                    border-width: 0px 20px 20px 20px;
                    border-color: transparent transparent $White transparent;
                  }
                  span{
                    width: inherit;
                    display: block;
                    font-family: $Title-Font;
                    text-align: center;
                    line-height: 120%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes itemTag{
  0%{
    transform: translateX(-50%) translateY(0);
  }
  50%{
    transform: translateX(-50%) translateY(-5px);
  }
  100%{
    transform: translateX(-50%) translateY(0);
  }
}

.right-wrap {
  width: 400px;
  height: 70vh;
  position: fixed;
  right: 120px;
  top: 0;
}

.bottom-wrap {
  width: 100%;
  height: 30vh;
  position: fixed;
  bottom: 0;
  z-index: -1;
}

@media (max-width: 480px){
  [class*=inner]{
    width: 95%
  }

  .left-wrap, .right-wrap{
    display: none;
  }

  .center-wrap{
    width: 100%;
    .login-wrap{
      margin-top: 45.3%;
    }
    .cart-wrap{
      margin-top: 57%;
    }
    .item-visual{
      .item-visual-inner{
        .item-btn-box{
          top: 150px;
          button{
            i{}
          }
          &.item-like-btn{}
          &.item-shopping-btn{}
        }
      }
    }
  }
}