/* color */

$Main-Text: #372C26;
$Lotteria-Red: #F00028;
$Lotteria-Yellow: #FFAF00;
$Lotteria-Brown: #763B1D;
$Lotteria-Beige: #F7F1D7;
$White: #FFFFFF;
$Light-Black: #2B2B2B;
$Pure-Black: #000000;

/* fonts */

$Main-Font: 'Pretendard-Regular';
$Title-Font: 'RiaSans-ExtraBold';
$Hamburger-Font: 'Giants-Inline';


/* font size */

$h1-px : 64px;
$h2-px : 32px;
$h3-px : 24px;
$h4-px : 20px;